html
    head
        title Welcome!
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
    
    body
        header
            h4
                a(href="/") Home
            h4
                a(href="https://github.com/AshyBoxy/ashyboxy-heroku") View source
            h4
                a(href="/randomPokemon") Random Pokémon